html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
div,
span,
img,
a,
button,
input {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.header {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
}

.logo__img {
  display: block;
  width: 40px;
  height: 40px;
}

.nav {
  display: inline-block;
  font-size: 12px;
}

.nav__list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.nav__link {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--main-color);
}

.is-active {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  width: 37px;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
